@import "../styling/_base.scss";

nav {
    @include FlexCenter(row, space-between, baseline);
    // margin: 0px 291.6px;
    padding: 1rem;

    .left-side {
        @include FlexCenter(row, flex-start, baseline);

        i {
        color: white;
        padding: 6px 12px;

            &:hover {
            background-color: #354f52;
            border-radius: $sml-rounded;
            cursor: pointer;
        }
     }
    
        h2 {
            color: white;
            margin: 0px $sml2-padding;
            text-decoration: none;
        }
    }

    .right-side {
        @include FlexCenter(row, space-evenly, baseline);
        color: white;

        a {
            color: white;
            font-weight: bold;
            padding: $sml-padding;
            text-decoration: none;
        }
    }
}

