@import "../styling/_base.scss";

nav {
    @include FlexCenter(row, flex-start, baseline);
    margin: 0px 291.6px;
    padding: 0px 12px;

    i {
        color: white;
        padding: 6px 12px;

        &:hover {
            cursor: pointer;
            background-color: #354f52;
            border-radius: $sml-rounded;
        }
    }
    
    h2 {
            margin: $no-margins;
        }
}