@import "../styling/_base.scss";

.feat-prod {
    padding: 1rem;

    .card-sec {
    @include FlexCenter(row, center, none);
    margin: 1rem;
    flex-wrap: wrap;
    }
    
    .card {
    border-radius: $sml-rounded;
    border: 1px $light-grey solid;
    margin: 1rem;
        img {
            width: 100%;
            max-width: 400px;
        }

        .prod-info {
            padding: 1rem;
        }
    }
}